@import "../../css/times-fonts", "../../css/times-colors";
.image_macro {
	border: 1px solid transparent;
}

.clear_break {
	clear:both;
}
.inline_img {
	border:1px solid #bcbcbc;
	// max-width:100%;
	width:100%;
	height:auto;
}
.inline_credit {
	font-size:0.85em !important;
	text-align:right;
	font-family:$helv;
	margin:0.2em 0;
}
.inline_caption {
	margin:0.2em 0 1em 0;
	font-family:$helv;
	font-size:0.85em !important;

}
.no_fw {
	width:auto;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.articleInline.relatedNews.col_3 {
	display:none;
}
.articleInline.col_3.ad {
	display:none;
}
