@import "../../css/times-fonts", "../../css/times-colors", "base";
// $gray: rgb(39,40,34);
$gray: rgb(91,91,91);

.listicle_header {
	font-size: 1.85em;
	margin-top:1.5em;
	margin-bottom:0.5;
	color: $slate;
}
.listicle_subhead {
	font-size: 1.1428em;
	color:#777;
	margin-bottom:0.5em;
	a {
		display:inline;
		color:$red;
	}
}
.listicle_ruler {
	clear:both;
	width:100%;
	height:1px;
	background-color:#ccc;
	margin:40px 0;
}